.restaurant {
  .openMap {
    height: 80vh;
    width: 100%;
    position: sticky !important;
    top: 0;
    right: 0;
    margin-top: 20px;
  }

  .restaurant-grid {
    padding: 2em;
  }

  .card {
    &:hover {
      img {
        opacity: 1;
        filter: none;
      }
    }
  }
}
