@import "main" ;
// $bgc-card : rgb();
.row{
    margin: 10px 0 10px 0;
}
#imager{

    img{
        margin-top: 30px;
        width: 250px;
        height: 200px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        border-radius: 20px;
        // border: solid rgb(255, 255, 255) 5px;
    }
    h3,p{
        margin-top: 15px;
        text-align: center;
        font-size: larger;
    }
    width: 300px;
    height: 400px;
    border-radius: 25px;
    margin: 15px;
    // background-color: rgb(236, 236, 213);
    background-color: #e4a670c2;
    // background-color: #6e3c31;
    // background-color: grey ;
    color: rgb(0, 0, 0);
    // border: solid rgba(0, 0, 0,0.3) 5px;
}
h1{
    margin-top: 25px;
    text-decoration: underline;
    margin-bottom: 25px;
}
h2{
    display: flex;
    justify-content: center;
}
.mesbord{
    // border: solid rgb(2, 2, 2);
    margin-top: 25x;
    border-radius: 25px;
}