/*-----FONT-----*/

h1,
h2,
h3,
h4,
nav {
  font-family: "Mouse Memoirs", sans-serif;
}

p{
    font-size: 130%;
}

/*-----NAVBAR-----*/

nav {
  img {
    width: 100px;
    padding-right: 40px;
  }
  a{
      font-size: 2em;
  }
}

/*-----MAIN-----*/
main {
  .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../../ressources/hero.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    height: 30em;
    background-attachment: fixed;
  }

  section{
    padding: 1em;
  }

  h2{
      padding: 1em 0;
  }

  .promos {
    
    background-color: rgb(231, 231, 231);
  }

}

/*-----CARDs-----*/

.card {
    margin: 1em;
  img {
    opacity: 0.7;
    filter: alpha(opacity=40);
    transition: opacity 0.5s , filter 0.5S;
  }

  .card-body {
    display: none;

  }

  &:hover {
      img{
        opacity: 1;
    filter: alpha(opacity=0);  
      }
    .card-body {
      display: block;
    }
  }
}

/*-----FOOTER-----*/

footer {
  color: white;
}
